---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import PublicationsSection from '../components/PublicationsSection.astro';
import Footer from '../components/Footer.astro';

const title = "Publications | Abubakr Ibrahim";
const description = "Research publications by Abubakr Ibrahim.";
---

<Layout title={title} description={description}>
  <div class="flex flex-col min-h-screen">
    <Navigation />
    <main class="flex-grow">
      <PublicationsSection />
    </main>
    <Footer />
  </div>
</Layout>
